/*Общие настройки блоков.........................................*/
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: "Bad Script", cursive;
    background-color: rgba(239, 230, 240, 1);
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:inherit;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titles{
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
    color: rgba(162, 102, 142, 1);
}

#scroll_btn{
    position: fixed;
    z-index: 2;
    right: 0px;
    left: 80%;
    top: 90%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    border: rgba(162, 102, 142, 1) solid 1px;
    border-radius: 50%;    
    cursor: pointer;
    transition: ease 0.5s; 
}

#scroll_btn:hover{
    scale: 1.2;
}

/*block 1.......................................................................................................................*/
.block_1{
    background-image: url(../images/block_1_bg.png);
    background-position: top;
    background-repeat: no-repeat;
}
.block_1_top{
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.block_1_circle{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.block_1_names{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
    font-weight: 300;
    color: rgba(83, 78, 154, 1);
    margin-top: 30%;
    font-weight: 500;
}
.block_1_bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.block_1_bottom_text{
    font-size: 23px;
    text-align: center;
    line-height: 30px;
    max-width: 90%;
    background-color: rgba(239, 230, 240, 0.726);
}

.block_1_bottom_date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}
.block_1_bottom_line_1{
    font-size: 26px;
}
.block_1_bottom_line_2{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.block_1_bottom_line_2_left, .block_1_bottom_line_2_right{
    text-align: center;
    font-size: 24px;
    border-top: rgba(162, 102, 142, 1) solid 1px;
    border-bottom: rgba(162, 102, 142, 1)solid 1px;
    padding-top: 15%;
    padding-bottom: 15%;
}

.block_1_bottom_line_2_center{
    font-size: 30px;
    text-align: center;
    color: rgba(162, 102, 142, 1);
}
.block_1_bottom_line_3{
    font-size: 20px;
}

/*block 2.......................................................................................................................*/
.block_2_background{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    background-image: url(../images/block_2_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

}
.timer__items {
    display: flex;
    font-size: 34px;
    justify-content: center;
    align-content: center;
  }

  .timer__item {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 25px;
    text-align: center;
  }

  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 20px;
  }

  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -25px;
    font-size: 34px;
  }

  .block_2_bottom{
    text-align: center;
    font-size: 20px;
    padding: 0 5% 0 5%;
  }
  .block_2_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  }

  /*block 3.......................................................................................................................*/
.block_3{
    background-image: url(../images/block_3_bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin-top: 15%;
    min-height: 680px;

}
#reg_form{
    border: rgba(171, 118, 154, 1) solid 1px;
    border-radius: 10px;
    background-color: rgba(253, 253, 254, 0.74);
    padding: 5% 3% 5% 3%;
    font-size: 16px;
    width: 90%;
}
 
.wrapper{
    font-size: 16px;
    list-style-type: none;
}
#name{
    background-color: rgba(252, 233, 233, 0.8);
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: rgba(171, 118, 154, 1) solid 1px;
    cursor: pointer;
    transition: ease 0.5s;
    font-family: "Playfair Display", serif;
    color: rgba(81, 74, 74, 1);
}
#name:hover{
    background-color: rgba(253, 249, 238, 0.753);
}

#name:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(171, 118, 154, 1);
}

#surname{
    background-color: rgba(252, 233, 233, 0.8);
    margin-bottom: 10px;
    font-size: 16px;
    border: rgba(171, 118, 154, 1) solid 1px;
    font-family: "Playfair Display", serif;
    cursor: pointer;
    transition: ease 0.5s;
    color: rgba(81, 74, 74, 1);
    border-radius: 10px;
}
#surname:hover{
    background-color: rgba(253, 249, 238, 0.753);
}

#surname:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(171, 118, 154, 1);
}

select{
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgba(252, 233, 233, 0.8);
    border: rgba(171, 118, 154, 1) solid 1px;
    border-radius: 10px;
    padding-left: 10px;
    color: rgba(81, 74, 74, 1);
    size: 1px;
    cursor: pointer;
    transition: ease 0.5s;
    width: 400px;
    font-family: "Playfair Display", serif;
}
select:hover{
    background-color: rgba(253, 249, 238, 0.753);
}

select:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(130, 151, 182, 1);
}

select>option{
    background-color: rgba(252, 233, 233, 0.8);
    border: rgba(171, 118, 154, 1) solid 1px;
    border-radius: 10px;
    font-size: 16px;
    width: 250px;
    font-family: "Playfair Display", serif;
    color: rgba(81, 74, 74, 1);
}

select>option:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(171, 118, 154, 1);
}

#registred, #alcohol{
    font-family: "Playfair Display", serif;
    color: rgba(81, 74, 74, 1);
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    color: rgba(81, 74, 74, 1);
}

  .form-row > input,
  .form-row > button,
  .form-row > select {
    padding: .5em;
    flex: 1;
    color: rgba(81, 74, 74, 1);
  }
  .form-row > button {
    background-color: rgba(171, 118, 154, 1);
    border-radius: 10px;
    color: rgb(216, 216, 216);
    font-family: "Playfair Display", serif;
    font-size: 16px;
    border: rgba(171, 118, 154, 1) solid 1px;
    width: 100%;
    cursor: pointer;
    transition: ease 0.5s;
  }
  .form-row > button:hover {
    background-color: rgb(124, 85, 112);
  }

  #comment{
    font-family: "Playfair Display", serif;
    font-size: 16px;
    border: rgba(171, 118, 154, 1) solid 1px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: rgba(252, 233, 233, 0.8);
    color: rgba(81, 74, 74, 1);
    cursor: pointer;
    transition: ease 0.5s;
    width: 100%;
  }
#comment:hover{
    background-color: rgba(253, 249, 238, 0.753);
}

#comment:focus{
    outline: none;
    box-shadow: 0 0 0px 2px rgba(171, 118, 154, 1);
}


.form_hidden{
    display:none;
}

.form-checkbox{
    list-style-type: none; 
    padding-left: 20px;
    font-size: 16px;
    padding-right: 20px;
    color: rgba(81, 74, 74, 1);
}

/*Чекбоксы..............................*/

.checkbox.style-f {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Bad Script", cursive;
  }
  .checkbox.style-f input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox.style-f input:checked ~ .checkbox__checkmark {
    background-color: rgba(171, 118, 154, 1);
  }
  .checkbox.style-f input:checked ~ .checkbox__checkmark:after {
    transform: scale(1);
  }
  .checkbox.style-f input:checked ~ .checkbox__body {
    color: rgba(171, 118, 154, 1);
    font-weight: 600;
  }
  .checkbox.style-f .checkbox__checkmark {
    position: absolute;
    top: 30%;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgba(171, 118, 154, 0.486);
    transition: background-color 0.25s ease;
    border-radius: 11px;
  }
  .checkbox.style-f .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: rgba(171, 118, 154, 1);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.25s ease;
  }
  .checkbox.style-f .checkbox__body {
    color: rgba(81, 74, 74, 1);
    line-height: 1.4;
    font-size: 16px;
    transition: font-weight 0.25s ease;
  }

    /*block 4.......................................................................................................................*/
    .block_4{
        background-image: url(../images/block_4_bg.png);
        background-repeat: no-repeat;
        block-size: cover;
        background-position: top;
        display: flex;
        justify-content: center;
        margin-top: 15%;
    }
    #block_questions{
        width: 90%;
        padding: 1%;
        border: rgba(83, 78, 154, 1) solid 1px;
        border-radius: 10px;
        background-color: rgba(253, 253, 254, 0.77);
    }
.question{
    font-size: 20px;
    margin-top: 5%;
}
.question img{
    width: 25px;
    height: auto;
}
.answer a{
    color:rgba(83, 78, 154, 1);

}
#colors{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
}
.color{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
#blue{
    background-color: rgba(166, 99, 144, 1);
}
#green{
    background-color: rgba(171, 118, 154, 1);
}
#yellow{
    background-color: rgba(218, 180, 209, 1);
}
#turquoise{
    background-color: rgba(83, 78, 154, 0.7);
}
#beige{
    background-color: rgba(83, 78, 154, 1);
}
    /*block 5.......................................................................................................................*/
    .block_5{
        background-image: url(../images/block_5_bg.png);
        background-repeat: no-repeat;
        block-size: 100%;
        background-position: top;
        margin-top: 15%;
    }
    .timetable{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
    }
    .occasion{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        height: 156px;
        margin-bottom: 10%;
        font-size: 24px;
    }
    .occasion_time{

        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
        color: rgba(83, 78, 154, 1);
    }
    .occasion_title{
        text-align: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .block_5_img{
        background-image: url(../images/block_5_wreath.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }
        /*block 6.......................................................................................................................*/
        .block_6{
            margin-top: 15%;
        }
.place{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
    font-size: 18px;
    margin-bottom: 15%;

}
.block_6_title{
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding-top: 3%;

    color: rgba(83, 78, 154, 1);
}
.adress{
    width: 100%;
    text-align: center;
    padding-bottom: 3%;

}